kiteconnect==5.0.1
pyotp
python-dotenv==1.0.0
flask==3.0.0
flask-limiter==3.5.0
flask-wtf==1.2.1
flask-cors==4.0.0
gunicorn==21.2.0
numpy==1.26.4
pandas==2.2.3
pytest==7.4.0
apscheduler==3.10.4
requests>=2.31.0
schedule==1.2.0
openpyxl==3.1.2
black
flake8